.container-footer {
    display: flex;
    align-self: end;
    justify-content: space-evenly;
    width: 100%;
    border-top-color: #cdcdcd;
    border-top-width: 3px;
    border-top-style: solid;
    justify-content: center;
    margin-top: 5%;
  }
  
  .container-footer > button {
    border: none;
    text-decoration: none;
    background-color: transparent;
  }
  
  .container-footer > a {
    text-decoration: none;
    color: black;
  }
  
  .container-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 0;
    padding-top: 3%;
    cursor: pointer;
  }
  
  .container-icons > p {
    font-size: 0.7rem;
    margin: 8% 0;
    font-weight: 400 !important;
  }
  
  .container-icons:hover,
  .container-icons:active {
    background-color: #dbdadb;
  }
  
  .container-footer a.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 0;
    padding-top: 3%;
    cursor: pointer;
    background-color: #F0F0F0
  }
  
  .container-footer a.active > p {
    font-size: 0.7rem;
    margin: 8% 0;
    font-weight: bold;
  }