.container-home{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%
}

.container-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-intro > h3, .container-intro > p{
    margin: 3% 0 0 0
  }

  .container-intro > p{
    font-size: 0.9rem;
  }