.rckchat_chatbot-button {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    background-color: transparent;
    width: 80px;
  }
  
  .rckchat_logo {
    width: 100%;
  }
  